<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <div id="app">
    <fieldset>
      <legent>支払い方法</legent>
      クレジットカード：
      <input type="radio" name="pay" value="credit" v-model="pay" />
      銀行振込：
      <input type="radio" name="pay" value="bank" v-model="pay" />
      <hr />
      <!-- 支払い方法に応じて、入力ボックスを切り替え -->
      <div v-if="pay==='credit'">
        カード番号：
        <input type="text" key="credit" />
      </div>
      <div v-else-if="pay==='bank'">
        口座番号：
        <input type="text" key="bank" />
      </div>
    </fieldset>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/if_key.js"></script>
</body>

</html>